* {
  margin: 0;
}
:root {
  --default-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Ubuntu, "Helvetica Neue", Helvetica, Arial, "PingFang SC",
    "Hiragino Sans GB", "Microsoft Yahei UI", "Microsoft Yahei",
    "Source Han Sans CN", sans-serif;
}
img {
  max-width: 100%;
  display: block;
}

.main-container {
  overflow: hidden;
}

.main-container,
.main-container * {
  box-sizing: border-box;
}

input,
select,
textarea,
button {
  outline: 0;
}
.main-container {
  position: relative;
  width: 1440px;
  min-height: 3030px;
  margin: 0 auto;
  font-size: 0px;
  background: #fcfcfc;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 2830px;
    margin: 0 auto;
  }
}

.menu-icon {
  display: none;
  position: absolute;
  width: 42px;
  height: 42px;
  right: 30px;
  background: url(images/menu.png) no-repeat center;
  background-size: 100% 100%;
  cursor: pointer;
  z-index: 100;
}
@media screen and (max-width: 800px) {
  .menu-icon {
    display: block;
    position: absolute;
    width: 42px;
    height: 42px;
    right: 90px;
    top: 50px;
    background: url(images/menu.png) no-repeat center;
    background-size: 100% 100%;
    cursor: pointer;
    z-index: 100;
  }
}

/** Logo **/
.logo {
  position: absolute;
  width: 130px;
  height: 110px;
  top: 40px;
  left: 9.24%;
  background: url(images/72.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 5;
}
@media screen and (max-width: 800px) {
  .logo {
    position: absolute;
    width: 80px;
    height: 60px;
    top: 40px;
    left: 9.24%;
    background: url(images/72.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 5;
  }
}
/** vectors background **/

/** nav icon **/
.navicon {
  position: relative;
  width: 248.459px;
  height: 44.024px;
  float: right;
  right: 200px;
  margin: 79px 0 0;
  z-index: 0;
}
.close {
  display: none;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 0;
  right: 300px;
  background: url(images/close.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
}
.linkedin-icon {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 38.64%;
  background: url(images/linkedin.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 34;
  cursor: pointer;
}
.github-icon {
  position: absolute;
  width: 42px;
  height: 42px;
  top: 0;
  left: 0;
  background: url(images/github.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 4;
  cursor: pointer;
}
.gmail-icon {
  position: absolute;
  width: 52px;
  height: 52px;
  top: 0;
  left: 79.69%;
  background: url(images/gmail.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 666;
  cursor: pointer;
}
@media screen and (max-width: 800px) {
  .navicon {
    display: none;
    flex-direction: row;
    transition: right 1s ease-in-out;
    position: absolute;
  }
  .github-icon,
  .gmail-icon,
  .linkedin-icon,
  .close {
    display: block;
    width: 32px;
    height: 32px;
  }
}
@media screen and (max-width: 480px) {
  .navicon {
    display: none;
    flex-direction: row;
    transition: right 1s ease-in-out;
    width: 150px;
  }
  .close {
    right: 200px;
  }
  .github-icon,
  .gmail-icon,
  .linkedin-icon,
  .close {
    display: inline-block;
    width: 28px;
    height: 28px;
  }
}
/** hero section **/
.hero {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.character-ikbal {
  position: relative;
  width: 700px;
  height: 500px;
  left: 600px;
  margin: 321px 0 0 123px;
  background: url(images/hero.png) no-repeat center;
  background-size: cover;
  z-index: 14;
  overflow: visible auto;
}
.vector-13 {
  position: absolute;
  width: 717px;
  height: 808.5px;
  top: 1000px;
  left: 1200px;
  background: url(images/arrow.png) no-repeat center;
  background-size: cover;
  filter: blur(100px);
  z-index: 15;
}
.vector-14 {
  position: absolute;
  width: 717px;
  height: 500px;
  top: 290px;
  left: -200px;
  background: url(images/new-moon.png) no-repeat center;
  background-size: cover;
  filter: blur(100px);
  z-index: 6;
}
.kenny-kevin-software-engineer {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 575px;
  height: 246px;
  top: 401px;
  left: 133px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 65px;
  font-weight: 700;
  line-height: 81.9px;
  text-align: justified;
  text-overflow: initial;
  z-index: 8;
  overflow: hidden;
}
.solid-scalable-client {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 520px;
  height: 76px;
  top: 665px;
  left: 133px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: justified;
  text-overflow: initial;
  z-index: 9;
  overflow: hidden;
}
.button {
  position: absolute;
  width: 319px;
  height: 79px;
  top: 777px;
  left: 127px;
  background: #7f70ce;
  z-index: 11;
  border-radius: 40px;
  cursor: pointer;
}
.lets-talk {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 278.952px;
  height: 44px;
  top: 18px;
  left: 35.905px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 35px;
  font-weight: 600;
  line-height: 44px;
  text-align: justified;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 12;
}
.ellipse-17 {
  position: absolute;
  width: 42px;
  height: 44px;
  top: 18px;
  left: 260px;
  background: url(images/new-moon.png) no-repeat center;
  background-size: cover;
  z-index: 13;
}
@media screen and (max-width: 800px) {
  .hero {
    display: flex;
    flex-direction: column;
  }
  .character-ikbal {
    display: block;
    position: relative;
    width: 330px;
    height: 280px;
    left: 260px;
    margin: 210px 0 0 143px;
    background: url(images/hero.png) no-repeat center;
    background-size: cover;
    z-index: 14;
    overflow: visible auto;
  }
  .vector-14 {
    position: absolute;
    width: 360px;
    height: 280px;
    top: 180px;
    left: -100px;
    background: url(images/new-moon.png) no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: 6;
  }
  .kenny-kevin-software-engineer {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 375px;
    height: 146px;
    top: 260px;
    left: 80px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 35px;
    font-weight: 700;
    line-height: 40px;
    text-align: justified;
    text-overflow: initial;
    z-index: 8;
    overflow: hidden;
  }
  .solid-scalable-client {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 320px;
    height: 76px;
    top: 390px;
    left: 80px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    text-align: justified;
    text-overflow: initial;
    z-index: 9;
    overflow: hidden;
  }
  .button {
    position: absolute;
    width: 170px;
    height: 49px;
    top: 440px;
    left: 77px;
    background: #7f70ce;
    z-index: 11;
    border-radius: 40px;
    cursor: pointer;
  }
  .lets-talk {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 278.952px;
    height: 44px;
    top: 3px;
    left: 20px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 44px;
    text-align: justified;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 12;
  }
  .ellipse-17 {
    position: absolute;
    width: 22px;
    height: 24px;
    top: 13px;
    left: 135px;
    background: url(images/new-moon.png) no-repeat center;
    background-size: cover;
    z-index: 13;
  }
  .vector-13 {
    position: absolute;
    width: 717px;
    height: 300px;
    top: 700px;
    left: 600px;
    background: url(images/arrow.png) no-repeat center;
    background-size: cover;
    filter: blur(50px);
    z-index: 15;
  }
}
/** skills **/
.skills {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 150px;
  height: 50px;
  margin: 100px 0 0 132px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 40px;
  font-weight: 700;
  line-height: 50px;
  text-align: justified;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 21;
}
.img {
  position: relative;
  width: 130px;
  margin: 0 auto;
  z-index: 21;
  top: 35px;
}
.skill-img {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.client-satisfaction {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 595px;
  height: 25px;
  margin: 7px 0 0 132px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 20px;
  font-weight: 200;
  line-height: 25px;
  text-align: justified;
  white-space: nowrap;
  z-index: 20;
}
.slider-skill {
  position: relative;
  width: 1175px;
  height: 197px;
  margin: 33px 0 0 127px;
  background: #24284233;
  background-size: 100% 100%;
  z-index: 22;
}
@media screen and (max-width: 800px) {
  .skills {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 150px;
    height: 50px;
    margin: 100px 0 0 82px;
    font-size: 30px;
    font-weight: 700;
    line-height: 50px;
    text-align: justified;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 21;
  }
  .skill-img {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .slider-skill {
    display: flex;
    width: auto;
    height: 80px;
    margin: 0px 80px 0px 80px;
  }
  .img {
    width: 50px;
    margin: 0 0 0 60px;
    top: 15px;
  }
  .client-satisfaction {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 395px;
    height: 25px;
    margin: 0px 0 0 82px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 11px;
    font-weight: 100;
    line-height: 15px;
    text-align: justified;
    white-space: nowrap;
    z-index: 20;
  }
}

/** about me **/
.about {
  display: flex;
}
.about-me {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 368px;
  height: 82px;
  top: 1428px;
  left: 776px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 65px;
  font-weight: 700;
  line-height: 81.9px;
  text-align: justified;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 34;
  overflow: hidden;
}
.ellipse-18 {
  position: absolute;
  width: 611px;
  height: 626px;
  top: 1733px;
  left: -355px;
  background: url(images/black-moon.png) no-repeat center;
  background-size: cover;
  filter: blur(180px);
  z-index: 23;
}
.solid-scalable-client2 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 520px;
  height: 190px;
  top: 1556px;
  left: 779px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: justified;
  text-overflow: initial;
  z-index: 25;
  overflow: hidden;
}
.button2 {
  position: absolute;
  width: 308px;
  height: 79px;
  top: 1792px;
  left: 765px;
  background: #7f70ce;
  z-index: 27;
  border-radius: 40px;
  cursor: pointer;
}
.lets-talk-1 {
  display: flex;
  align-items: flex-start;
  position: absolute;
  width: 269.333px;
  height: 44px;
  top: 18px;
  left: 34.667px;
  color: #ffffff;
  font-family: Outfit, var(--default-font-family);
  font-size: 35px;
  font-weight: 600;
  line-height: 44px;
  text-align: justified;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 28;
}
.object-other {
  position: absolute;
  width: 570px;
  height: 485px;
  top: 1400px;
  left: 122px;
  background: url(images/512.png) no-repeat center;
  background-size: cover;
  z-index: 33;
}
.ellipse-1c {
  position: absolute;
  width: 42px;
  height: 44px;
  top: 18px;
  left: 253px;
  background: url(images/new-moon.png) no-repeat center;
  background-size: cover;
  z-index: 29;
}
@media screen and (max-width: 800px) {
  .about {
    display: flex;
  }
  .about-me {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 368px;
    height: 82px;
    top: 780px;
    left: 410px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 35px;
    font-weight: 700;
    line-height: 81.9px;
    text-align: justified;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 34;
    overflow: hidden;
  }
  .solid-scalable-client2 {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 520px;
    height: 190px;
    top: 850px;
    left: 410px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-align: justified;
    text-overflow: initial;
    z-index: 25;
    overflow: hidden;
  }
  .button2 {
    position: absolute;
    width: 170px;
    height: 40px;
    top: 960px;
    left: 410px;
    background: #7f70ce;
    z-index: 27;
    border-radius: 40px;
    cursor: pointer;
  }
  .lets-talk-1 {
    display: flex;
    align-items: flex-start;
    position: absolute;
    width: 269.333px;
    height: 44px;
    top: 0px;
    left: 20px;
    color: #ffffff;
    font-family: Outfit, var(--default-font-family);
    font-size: 15px;
    font-weight: 600;
    line-height: 44px;
    text-align: justified;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 28;
  }
  .ellipse-1c {
    position: absolute;
    width: 22px;
    height: 24px;
    top: 8px;
    left: 130px;
    background: url(images/new-moon.png) no-repeat center;
    background-size: cover;
    z-index: 29;
  }
  .object-other {
    position: absolute;
    width: 270px;
    height: 285px;
    top: 770px;
    left: 82px;
    background: url(images/512.png) no-repeat center;
    background-size: cover;
    z-index: 33;
  }
  .ellipse-18 {
    position: absolute;
    width: 411px;
    height: 226px;
    top: 953px;
    left: -300px;
    background: url(images/black-moon.png) no-repeat center;
    background-size: cover;
    filter: blur(100px);
    z-index: 23;
  }
}
/** Project **/
.projects {
  display: flex;
  align-items: flex-start;
  position: relative;
  width: 359px;
  height: 82px;
  margin: 823px 0 0 541px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 65px;
  font-weight: 700;
  line-height: 81.9px;
  text-align: justified;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap;
  z-index: 36;
  overflow: hidden;
}
@media screen and (max-width: 800px) {
  .projects {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 359px;
    height: 82px;
    margin: 400px 0 0 281px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 35px;
    font-weight: 700;
    line-height: 81.9px;
    text-align: justified;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
    z-index: 36;
    overflow: hidden;
  }
}
.container {
  width: auto;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  align-items: center;
  margin: 30px;
  background: #24284233;
  border-radius: 30px;
}

.container .card {
  position: relative;
  cursor: pointer;
  margin: 10px;
  right: 15px;
}

.container .card .face {
  width: 350px;
  height: 200px;
  transition: 0.5s;
}

.container .card .face.face1 {
  position: relative;
  background: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.container .card:hover .face.face1 {
  background: #7f70ce;
  transform: translateY(0);
}

.container .card .face.face1 .content {
  opacity: 0.2;
  transition: 0.5s;
}

.container .card:hover .face.face1 .content {
  opacity: 1;
}

.container .card .face.face1 .content img {
  max-width: 100px;
}

.container .card .face.face1 .content h3 {
  margin: 10px 0 0;
  padding: 0;
  color: #fff;
  font-family: Outfit, var(--default-font-family);
  font-size: 24px;
  text-align: center;
  font-size: 1.5em;
}

.container .card .face.face2 {
  position: relative;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.container .card:hover .face.face2 {
  transform: translateY(0);
}

.container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  color: #333;
  font-family: Outfit, var(--default-font-family);
}

.container .card .face.face2 .content a {
  margin: 15px 0 0;
  display: inline-block;
  text-decoration: none;
  font-family: Outfit, var(--default-font-family);
  font-weight: 900;
  color: #333;
  padding: 5px;
  border: 1px solid #333;
}

.container .card .face.face2 .content a:hover {
  background: #333;
  color: #fff;
}

@media only screen and (max-width: 480px) {
  .about p {
    font-size: 15px;
  }
  .container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
  }

  .container .card {
    width: 90px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 0;
    right: -10px;
  }
}
.ellipse-11 {
  position: absolute;
  width: 28px;
  height: 30px;
  top: 13px;
  left: 189px;
  background: url(images/linkedin.png) no-repeat center;
  background-size: cover;
  z-index: 65;
}

/** footer **/
.logo2 {
  position: relative;
  width: 129.464px;
  height: 102.15px;
  margin: -30px 0 0 1141px;
  background: url(images/72.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 76;
}
.rectangle-1f {
  position: absolute;
  width: 1440px;
  height: 234px;
  top: 2763px;
  left: 0;
  background: rgba(32, 38, 60, 0.052);
  z-index: 70;
}
.footer-icon {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 237.926px;
  height: 52.354px;
  margin: 25px 0 0 107px;
  z-index: 74;
}
.vector-github {
  flex-shrink: 0;
  position: relative;
  width: 42px;
  height: 42px;
  background: url(images/github.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 73;
  cursor: pointer;
}
.vector-linkedin {
  flex-shrink: 0;
  position: relative;
  width: 32px;
  height: 32px;
  background: url(images/linkedin.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 74;
  cursor: pointer;
}
.vector-mail {
  flex-shrink: 0;
  position: relative;
  width: 42px;
  height: 42px;
  background: url(images/gmail.png) no-repeat center;
  background-size: 100% 100%;
  z-index: 71;
  cursor: pointer;
}
.flex-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 215px;
  height: 38px;
  margin: 20px 0 0 610px;
  z-index: 78;
}
.kenny-kevin {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  position: relative;
  width: 186px;
  height: 38px;
  color: #000000;
  font-family: Outfit, var(--default-font-family);
  font-size: 30px;
  font-weight: 400;
  line-height: 37.8px;
  text-align: center;
  text-transform: capitalize;
  white-space: nowrap;
  z-index: 77;
}
.copyright {
  flex-shrink: 0;
  position: relative;
  width: 24px;
  height: 24px;
  background: url(images/copyright.png) no-repeat center;
  background-size: cover;
  z-index: 78;
}
.rectangle-22 {
  position: absolute;
  width: 1440px;
  height: 33px;
  top: 2997px;
  left: 0;
  background: url(images/gradient-bg.jpg) no-repeat center;
  background-size: cover;
  z-index: 72;
}
@media screen and (max-width: 800px) {
  .footer-icon {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 177.926px;
    height: 22.354px;
    margin: 30px 0 0 57px;
    z-index: 74;
  }
  .vector-github {
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/github.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 73;
    cursor: pointer;
  }
  .vector-linkedin {
    flex-shrink: 0;
    position: relative;
    width: 22px;
    height: 22px;
    background: url(images/linkedin.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 74;
    cursor: pointer;
  }
  .vector-mail {
    flex-shrink: 0;
    position: relative;
    width: 32px;
    height: 32px;
    background: url(images/gmail.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 71;
    cursor: pointer;
  }
  .flex-row {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 215px;
    height: 38px;
    margin: -12px 0 0 340px;
    z-index: 78;
  }
  .kenny-kevin {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    position: relative;
    width: 186px;
    height: 38px;
    color: #000000;
    font-family: Outfit, var(--default-font-family);
    font-size: 15px;
    font-weight: 400;
    line-height: 37.8px;
    text-align: center;
    text-transform: capitalize;
    white-space: nowrap;
    z-index: 77;
  }
  .copyright {
    flex-shrink: 0;
    position: relative;
    width: 14px;
    height: 14px;
    left: -90px;
    background: url(images/copyright.png) no-repeat center;
    background-size: cover;
    z-index: 78;
  }
  .logo2 {
    position: relative;
    width: 80px;
    height: 60px;
    left: -520px;
    background: url(images/72.png) no-repeat center;
    background-size: 100% 100%;
    z-index: 76;
  }
  .rectangle-1f {
    position: absolute;
    width: 1440px;
    height: 184px;
    top: 2703px;
    left: 0;
    background: rgba(32, 38, 60, 0.052);
    z-index: 70;
  }
  .rectangle-22 {
    position: absolute;
    width: 1440px;
    height: 33px;
    top: 2810px;
    left: 0;
    background: url(images/gradient-bg.jpg) no-repeat center;
    background-size: cover;
    z-index: 72;
  }
}
@media screen and (max-width: 480px) {
  .main-container {
    width: 100%;
    min-height: 2830px;
    font-size: 16px; /* Reset font size for better readability on smaller screens */
  }

  .logo {
    width: 60px;
    height: 45px;
    top: 20px;
    left: 5%;
  }

  .navicon {
    display: none;
  }
  .menu-icon {
    display: block;
    float: right;
    width: 40px;
    height: 40px;
    right: 10px;
    top: 20px;
  }

  .vector-13,
  .vector-14 {
    display: block;
  }
  .character-ikbal {
    display: block;
    width: auto;
    height: 200px;
    top: 230px;
    left: 0px;
  }

  .kenny-kevin-software-engineer {
    width: 250px;
    height: auto;
    left: 40px;
    top: 200px;
    font-size: 30px;
    line-height: 1.2;
    text-align: justify;
  }

  .solid-scalable-client {
    width: 250px;
    height: auto;
    left: 40px;
    top: 350px;
    font-size: 12px;
    line-height: 1.2;
    text-align: justify;
  }

  .button {
    width: 100px;
    height: 30px;
    top: 385px;
    left: 95px;
    transform: translateX(-50%);
  }

  .lets-talk {
    position: relative;
    width: auto;
    height: auto;
    top: 10px;
    left: 60px;
    transform: translateX(-50%);
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }

  .ellipse-17 {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    top: -7px;
    left: 75px;
  }

  .skills {
    width: auto;
    margin: 20px auto;
    left: 40px;
    top: 190px;
    font-size: 15px;
    line-height: 1.2;
    text-align: center;
  }
  .client-satisfaction {
    width: auto;
    top: 150px;
    left: -60px;
    font-size: 10px;
  }
  .slider-skill {
    width: auto;
    margin: 0;
    top: 150px;
  }
  .skill-img {
    width: 40px;
    margin: 0;
    top: 10px;
    left: -40px;
  }
  .img {
    width: 35px;
    height: 35px;
  }

  .about-me {
    width: auto;
    margin: 0 auto;
    left: 100px;
    font-size: 25px;
    top: 790px;
    line-height: 1.2;
    text-align: center;
  }
  .solid-scalable-client2 {
    width: auto;
    margin: 0 auto;
    left: 100px;
    top: 830px;
    font-size: 12px;
  }
  .button2 {
    width: 100px;
    height: 30px;
    top: 950px;
    left: 150px;
    transform: translateX(-50%);
  }

  .lets-talk-1 {
    position: relative;
    width: auto;
    height: auto;
    top: 10px;
    left: 60px;
    transform: translateX(-50%);
    font-size: 10px;
    line-height: 1.2;
    text-align: center;
  }
  .ellipse-1c {
    display: block;
    position: relative;
    width: 20px;
    height: 20px;
    top: -7px;
    left: 75px;
  }
  .object-other {
    width: 250px;
    height: 250px;
    top: 970px;
    left: 120px;
  }
  .projects {
    width: 100%;
    height: auto;
    top: 200px;
    left: -160px;
    font-size: 25px;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 0;
    top: 200px;
  }

  .container .card {
    width: 80%;
  }

  .footer-icon {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100px;
    left: -80px;
    top: -10px;
  }

  .vector-github {
    width: 20px;
    height: 20px;
  }

  .vector-linkedin {
    width: 20px;
    height: 20px;
  }

  .vector-mail {
    width: 20px;
    height: 20px;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    top: 20px;
  }

  .kenny-kevin {
    width: auto;
    left: -290px;
    font-size: 13px;
  }
  .copyright {
    left: -290px;
  }

  .logo2 {
    width: 60px;
    height: 45px;
    margin: -30px 0 0 750px;
  }
  .rectangle-1f {
    height: 130px;
  }

  .rectangle-22 {
    height: 30px;
  }
}
